.container-dashboard1{
    width: 100%;
    height: 100%;
    display: flex;
    margin-bottom: 10px;
    
}
.container-dashboard2{
    width: 100%;
    height: 100%;
    /* display: flex; */
    margin-top: 25px;

}
.container-dashboard3{
    width: 100%;
    height: 100%;
    display: flex;

}
.container-dashboard4{
    width: 100%;
    height: 100%;
    display: flex;
    margin-bottom: 10px;

}
.container-dashboard5{
    width: 100%;
    display: flex;
    margin-top: 15px;
    text-align: center;
}

@media  (max-width: 599px) {
    .container-dashboard1{
        width: 100%;
        height: 860px;
        /* display: flex; */
    }
    .container-dashboard2{
        width: 100%;
        height: 100%;
        /* display: flex; */
        margin-top: 25px;
    
    }
    .container-dashboard3{
        width: 100%;
        height: 840px;
        display: flex;
    
    }
    .container-dashboard4{
        width: 100%;
        height: 100%;
        display: flex;
        margin-bottom: 40px;
    
    }
    .container-dashboard5{
        width: 100%;
        display: flex;
        margin-top: 15px;
        text-align: center;
    }

}

@media (max-width: 300px) {

    .container-dashboard1{
        width: 100%;
        height: 900px;
        /* display: flex; */
        
    }
    .container-dashboard2{
        width: 100%;
        height: 100%;
        /* display: flex; */
        margin-top: 25px;
    
    }
    .container-dashboard3{
        width: 100%;
        height: 360px;
        display: flex;
    
    }
    .container-dashboard4{
        width: 100%;
        height: 100%;
        display: flex;
        margin-bottom: 40px;
    
    }
    .container-dashboard5{
        width: 100%;
        display: flex;
        margin-top: 15px;
        text-align: center;
    }
    @media(min-width: 600px) and (max-width: 767px) {
        .container-dashboard1.ant-row{
            width: 100%;
            height: 1770px ;
            background-color: blue ;
            display: flex;
            position: relative;
            /* position: absolute;
            float: left; */

        }
        .ant-row, .container-dashboard2{
            width: 100%;
            height: 500px;
            /* display: flex; */
            background-color: red ;
        
            /* display: flex;
            position: relative; */

            /* position: absolute;
            /* margin-top: 1700px; */
            float: left; 

        }
        .container-dashboard3{
            width: 100%;
            height: 1000px;
            display: flex;
        
        }
        .container-dashboard4{
            width: 100%;
            height: 100%;
            display: flex;
            margin-bottom: 40px;
        
        }
        .container-dashboard5{
            width: 100%;
            display: flex;
            margin-top: 15px;
            text-align: center;
        }
    }
    @media  (min-width: 768px) and (max-width: 991px) {
        .container-dashboard1{
            width: 100%;
            height: 100vh !important;
            background-color: blue ;
            /* display: flex; */
        }
        .container-dashboard2{
            width: 100%;
            height: 100%;
            /* display: flex; */
            margin-top: 25px;
        
        }
        .container-dashboard3{
            width: 100%;
            height: 1000px;
            display: flex;
        
        }
        .container-dashboard4{
            width: 100%;
            height: 100%;
            display: flex;
            margin-bottom: 40px;
        
        }
        .container-dashboard5{
            width: 100%;
            display: flex;
            margin-top: 15px;
            text-align: center;
        }
    }
}