.flip-card {
  background-color: transparent;
  width: 100%;
  height: 80%;
  perspective: 1000px;
  border-radius: 20px;
  padding: 10px 20px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 250px;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 270px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 20px;
}

.flip-card-front {
  background-color: transparent;
  color: black;
}
.flip-card-back {
  /* background-color: #2980b9; */
  height: 100%;
  color: white;
  /* background-color: #bbb; */
  transform: rotateY(180deg);
}
/* TRANSAKSI */


.transaksi-flip-card {
  background-color: transparent;
  width: 100%;
  height: 80%;
  perspective: 1000px;
  border-radius: 20px;
  padding: 10px 20px;
}

.transaksi-flip-card-inner {
  position: relative;
  width: 100%;
  height: 150px;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.transaksi-flip-card:hover .transaksi-flip-card-inner {
  transform: rotateY(180deg);
}

.transaksi-flip-card-front,
.transaksi-flip-card-back {
  position: absolute;
  width: 100%;
  height: 160px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 20px;
}

.transaksi-flip-card-front {
  background-color: transparent;
  color: black;
}
.transaksi-flip-card-back {
  /* background-color: #2980b9; */
  height: 100%;
  color: white;
  /* background-color: #bbb; */
  transform: rotateY(180deg);
}


.color {
  background-color: #0700b8 !important;
}
.icon-up {
  font-size: 15px;
  color: blue !important;
  margin: 10px 10px 0 0;
}
.icon-down {
  font-size: 15px;
  color: red !important;
  margin: 10px 10px 0 0;
}
.icon-same {
  font-size: 15px;
  color: black;
  margin: 10px 10px 0 0;
}
.title-card-dashboard {
  
  margin-bottom: 10px;
  font-size: 18px;
}
.subtitle-card-dashboard {
  /* width: 100%; */
  font-size: 15px;
}
.subtitle-card-dashboard-grey {
  margin-bottom: 50px;
  font-size: 15px;
}
.selisih-up {
  font-size: 15px;
  color: blue !important;
}
.selisih-down {
  color: red !important;
  font-size: 15px;
}
.persen-up {
  font-size: 15px !important;
  font-weight: bold;
  color: blue !important;
  margin: 0 5px 0 0;

}
.icon-up {
  font-size: 15px;
  margin: 0 5px 0 0 !important;
  color: blue;
}
.persen-down {
  font-size: 15px !important;
  font-weight: bold;
  color: red !important;
  margin: 0 5px 0 0;

}
.icon-down {
  font-size: 15px;
  color: red;
  margin: 0 5px 0 0 !important;
}

.quarter-circle-bottom-right1{
  width: 70px;
  height: 70px;
  margin-top: 100px;
  background: orange;
  border-radius: 100px ;
  /* -moz-border-radius: 100px 0 0 0;
  -webkit-border-radius: 100px 0 0 0; */
  float: right;
  bottom: 0;
}
.quarter-circle-bottom-right2{
  width: 70px;
  height: 70px;
  margin-top: 5px;
  background: orange;
  border-radius: 100px ;
  /* -moz-border-radius: 100px 0 0 0;
  -webkit-border-radius: 100px 0 0 0; */
  float: right;
  bottom: 0;
}
/* float: "left", width: "70px", bottom:"0" , backgroundColor:"yellow" */

@media (max-width: 300px) {
  .e-commerce-status {
    margin-bottom: 300px !important;
    position: relative;
  }
}

@media (max-width: 599px) {
  .e-commerce-status {
    margin-bottom: 300px !important;
    position: relative;
    width: 100%;
  }
  .flip-card {
    width: 100% !important;
    background-color: none;
    float: left;
    height: 240px;
    padding: 5px;
    box-shadow: none;

  }
  .transaksi-flip-card {
    width: 100% !important;
    background-color: none;
    float: left;
    height: 240px;
    padding: 5px;
    box-shadow: none;

  }
  .ant-col-xs-24 {
    display: block;
    flex: 0 0 100%;
    width: 100%;
    margin: 0;
  }
  .flip-card-inner {
    float: left;
    width: 100%;
    height: 230px;
    background-color: none;
  }
  .transaksi-flip-card-inner {
    float: left;
    width: 100%;
    height: 230px;
    background-color: none;
  }
.icon-up {
  font-size: 12px;
  color: blue !important;
  margin: 10px 10px 0 0;
}
.icon-down {
  font-size: 12px;
  color: red !important;
  margin: 10px 10px 0 0;
}
.icon-same {
  font-size: 12px;
  color: black;
  margin: 10px 10px 0 0;
}
.title-card-dashboard {
  margin-bottom: 10px;
  font-size: 14px;
}
.subtitle-card-dashboard {
  font-size: 12px;
}
.subtitle-card-dashboard-grey {
  margin-bottom: 50px;
  font-size: 12px;
}
.selisih-up {
  font-size: 12px;
  color: blue !important;
}
.selisih-down {
  color: red !important;
  font-size: 12px;
}
.persen-up {
  font-size: 12px !important;
  font-weight: bold;
  color: blue !important;
  margin: 0 5px 0 0;
}
.icon-up {
  font-size: 12px;
  margin: 0 5px 0 0 !important;
  color: blue;
}
.persen-down {
  font-size: 12px !important;
  font-weight: bold;
  color: red !important;
  margin: 0 5px 0 0;

}
.icon-down {
  font-size: 12px;
  color: red;
  margin: 0 5px 0 0 !important;
}
}

@media (min-width: 600px) and (max-width: 767px) {
  .flip-card {
    width: 100% !important;

    float: left;
    height: 380px;
    padding: 5px;
  }
  .transaksi-flip-card {
    width: 100% !important;

    float: left;
    height: 380px;
    padding: 5px;
  }
  .ant-col-xs-24 {
    display: block;
    flex: 0 0 100%;
    max-width: 33%;
    margin: 0;
  }
  .flip-card-inner {
    float: left;
    width: 100%;
    height: 380px;
  }
  .transaksi-flip-card-inner {
    float: left;
    width: 100%;
    height: 380px;
  }
  .grafik-card {
    height: 290px;
    margin: 1700px 20px 0 0;
    /* background-color: #0700b8; */
    position: relative;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .flip-card {
    width: 100% !important;

    float: left;
    height: 380px;
    padding: 5px;
  }
  .transaksi-flip-card {
    width: 100% !important;

    float: left;
    height: 380px;
    padding: 5px;
  }
  .ant-col-xs-24 {
    display: block;
    flex: 0 0 100%;
    max-width: 33%;
    margin: 0;
  }
  .flip-card-inner {
    float: left;
    width: 100%;
    height: 380px;
  }
  .transaksi-flip-card-inner {
    float: left;
    width: 100%;
    height: 380px;
  }
}
@media (min-width: 992px) and (max-width: 1299px) {
}

@media (min-width: 1300px) {
}
