.container-dashboard1{
    width: 100%;
    height: 360px;
    display: flex;
    
}
.container-dashboard2{
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 20px;

}
.container-dashboard3{
    width: 100%;
    height: 360px;
    display: flex;

}
.container-dashboard4{
    width: 100%;
    height: 100%;
    display: flex;
    margin-bottom: 40px;

}
.container-dashboard5{
    width: 100%;
    display: flex;
    margin-top: 40px;

    text-align: center;
}
.editable-row .ant-form-item-explain {
    position: absolute;
    top: 100%;
    font-size: 12px;
  }
@media  (max-width: 599px) {
    .container-dashboard1{
        width: 100%;
        height: 1000px;
        display: flex;
    }
    .container-dashboard2{
        width: 100%;
        height: 100%;
        display: flex;
        margin-top: 20px;
    
    }
    .container-dashboard3{
        width: 100%;
        height: 1000px;
        display: flex;
    
    }
    .container-dashboard4{
        width: 100%;
        height: 100%;
        display: flex;
        margin-bottom: 40px;
    
    }
    .container-dashboard5{
        width: 100%;
        display: flex;
        margin-top: 40px;
    
        text-align: center;
    }

}

@media (max-width: 300px) {

    .container-dashboard1{
        width: 100%;
        height: 900px;
        display: flex;
        
    }
    .container-dashboard2{
        width: 100%;
        height: 100%;
        display: flex;
        margin-top: 20px;
    
    }
    .container-dashboard3{
        width: 100%;
        height: 360px;
        display: flex;
    
    }
    .container-dashboard4{
        width: 100%;
        height: 100%;
        display: flex;
        margin-bottom: 40px;
    
    }
    .container-dashboard5{
        width: 100%;
        display: flex;
        margin-top: 40px;
    
        text-align: center;
    }
}