table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: none;
}

.button-table
 /* ,input[type="submit"], input[type="reset"] */ {
  background: none;
  color: blue;
  border: none;
  text-decoration: underline;

  /* padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit; */
}
.modal-container {
  background-color: transparent;
}

.modal-container .ant-modal-header {
  /* background-color: aqua; */
  width: 300px;
}
.modal-container .ant-modal-title {
  color: #000;
  font-weight: bold;
}

.modal-container .ant-modal-content {
  /* background-color: #000; */
  width: 350px;
  margin: 0 auto;
}
.modal-container .ant-modal-body {
  background-color: grey;
  width: 350px;
  margin: 0 auto;
  text-align: center;
}
.container-button {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: grey;
}
.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: grey;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: grey;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.modal-export .ant-modal-body {
  background-color: #fff;
  width: 350px;
  margin: 0 auto;
  text-align: center;
}
.container-export {
  margin: 0;
  padding: 0;
  width: 100%;
   height: 100%;
  /*display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; */
  background: #fff;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.button-export {
  background-color: blue;
  color: #fff;
}
.button-export:hover {
  background-color: #fff;
  border: 1px solid blue;
  color: blue;
}
.button-excel {
  background-color: green;
  color: #fff;
}
.button-excel:hover {
  background-color: #fff;
  border: 1px solid green;
  color: green;
}

.button-pdf {
  background-color: blue;
  margin: 0 20px 0 0;
  color: #fff;
}
.button-pdf:hover {
  background-color: #fff;
  border: 1px solid blue;
  color: blue;
}
.btn {
	line-height: 50px;
	height: 50px;
	text-align: center;
	width: 250px;
	cursor: pointer;
  background-color: green;
  font-size: 18px;
}
.btn-one {
	color: #FFF;
	transition: all 0.3s;
	position: relative;
}
.btn-one span {
	transition: all 0.3s;
}
.btn-one::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: rgba(255,255,255,0.5);
	border-bottom-color: rgba(255,255,255,0.5);
	transform: scale(0.1, 1);
}
.btn-one:hover span {
	letter-spacing: 2px;
}
.btn-one:hover::before {
	opacity: 1;	
	transform: scale(1, 1);	
}
.btn-one::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
	background-color: rgba(255,255,255,0.1);
}
.btn-one:hover::after {
	opacity: 0;	
	transform: scale(0.1, 1);
}
.ant-select-clear {
color: red;
}